@charset "UTF-8";
body {
	font-family: Helvetica, Arial, "sans-serif";
	text-align: center;
	padding: 25px;
	margin-left: 25px;
	margin-right: 25px;
	margin-left: 25px;
	text-shadow: 4px 4px 5px lightsalmon;
	color: white;
}

h1  {
  	text-align: center;
	text-shadow: 4px 4px 5px white;
}

h2  {
	text-align: center;
	border-top: solid thin #000;
	border-bottom: solid thin #000;
	background-color: lightsalmon;
	padding-top: 12px;
	padding-bottom: 10px;
	text-shadow: 4px 4px 5px white;
}

#content {
	float:center;
	width: 100%;
	vertical-align: bottom;
	padding: 5px;
}

html { 
    background: url(https://images2.alphacoders.com/917/917700.jpg) no-repeat center center fixed;
    background-size: cover;
  }

}
footer {
	clear: both;
	top-border: think solid #000;
	text-align: center;
}
footer span{
	align:center;
	width: 350px;
}

ul {
	text-align: center;
}

li {
	display: inline-block;
	 list-style: none;
    	padding: 5px;
    	display: inline-block;
}

.container {
  left: 50%;
  margin-left: 0px;
  min-height: 100%;
  min-width: 1080px;
	
  width: 100%;
  height: auto;
	
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.3;
}


  .color {
      background-color:  darkmagenta;
      opacity: 0.7;
  }
}
