@charset "UTF-8";
body {
	font-family: Helvetica, Arial, "sans-serif";
	margin-left: 20px;
  	background-image: url("destiny2.jpg");
}

p{
	text-align: center;
}
	
h1{
  	text-align: center;
}

h2{
	text-align: center;
	border-top: solid thin #000;
	border-bottom: solid thin #000;
	background-color: #c0c0c0;
	padding-top: 12px;
	padding-bottom: 10px;
}

img {
 	float:center; 
 	height:1080px;
	width:1920px;
 }

#content {
	float:right;
	width: 70%;
	vertical-align: bottom;
	padding: 5px;
}
